In [1]:
#20BCE0969
import pandas as pd
import numpy as np
from sklearn import linear_model

In [2]:
df=pd.read_csv('House.csv')

In [3]:
df

   Area  Bedrooms  Age   Price
0  2600         3   20  550000
1  3000         4   15  565000
2  3200         4   18  610000
3  3600         3   30  595000
4  4000         5    8  760000
5  4100         6    8  810000

In [4]:
reg=linear_model.LinearRegression()
reg.fit(df[['Area','Bedrooms','Age']],df.Price)

LinearRegression()

In [5]:
area=round(reg.coef_[0],4)
bedroom=round(reg.coef_[1],4)
age=round(reg.coef_[2],4)

intercept=round(reg.intercept_,4)

In [6]:
print('Multiple Linear Regression:')
print('y=',area,'*area +',bedroom,'*bedroom',age,'*age +',intercept)

Multiple Linear Regression:
y= 112.0624 *area + 23388.8801 *bedroom -3231.7179 *age + 221323.0019

In [7]:
#prediction

print('The prediced home price of a house that has 3000sq.ft area, 3 bedrooms and 40yrs old =',reg.predict([[3000,3,40]])[0])

The prediced home price of a house that has 3000sq.ft area, 3 bedrooms and 40yrs old = 498408.25158030697

C:\Users\nithy\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(